@import
	url(http://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Open+Sans);

@font-face {
	font-family: Xbox;
	src: url(../fonts/X360.ttf);
}

html {
	background-image: url("../img/noisy-texture.png");
}

body {
	background-color: purple;
}

h2 {
	color: white;
}

a {
	color: lightblue;
}

.hButtons a {
	color: white;
	text-decoration: none;
}

.hButtons a:hover {
	color: white;
	text-decoration: none;
}

header {
	background-color: purple !important;
}

.hButtons {
	margin: 10px;
	color: white !important;
	font-size: 2.8em;
	letter-spacing: 0.5px;
	font-family: Xbox, cursive !important;
}

.headerButtons {
	color: white !important;
	font-size: 2.0em;
	letter-spacing: 0.5px;
}

.jumbotron {
	margin-top: 10%;
	background-color: purple !important;
	color: white !important;
	font-size: 2.0em;
	letter-spacing: 0.5px;
	background-image: url("../img/arvuti.jpg");
	font-family: Arial, cursive !important;
}

.jumbotron-index {
	margin-top: 10%;
	background-color: purple !important;
	color: white !important;
	font-size: 2.0em;
	letter-spacing: 0.5px;
	font-family: Arial, cursive !important;
	background-image: url("../img/arvuti.jpg");
	text-align: center;
	padding: 20px
}

.jumbotron p {
	font-family: Arial, cursive !important;
	text-transform: uppercase;
}

.jumbotron .container {
	text-align: center;
	height: 200px !important;
}

.row {
	width: 50%;
	margin: auto !important;
	margin-top: 5% !important;
}

.results {
	width: 50%;
	margin-top: 2% !important;
}

.not-valid-error {
	margin-top: 20px;
}

#insert-link-form {
	font-size: 20px;
}

#resultsTable {
	margin-left: 5%;
	margin-right: 5%;
}

.tagCloud {
	margin: auto;
	width: 35%;
	text-align: center;
}

.word {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	color: white !important;
	font-size: 40px;
	letter-spacing: 0.5px;
	font-family: Arial, cursive !important;
}

.moto {
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	margin-top: 20px;
	color: white !important;
	font-size: 40px;
	letter-spacing: 0.5px;
	font-family: Arial, cursive !important;
}

.tagCloudResults {
	text-align: center;
}